<!-- info -->

<style type="text/css">
<!--

body {background: #000000; bgcolor: #000000;}

a:link    {color: #FFFFFF; font-size: 11px; font-family: Arial; }
a:visited {color: #FF0000; font-size: 11px; font-family: Arial; }
a:vlink   {color: #FF0000; font-size: 11px; font-family: Arial; }

.info {
      color:       #FFFFFF;
      font-size:   11px;
      font-family: Arial;
      }
.text {
                color:       #FFFFFF;
                font-size:   13px;
                font-family: Arial;
                font-weight: bold;
               }
        .Tabellenunterschrift {
                color:       #FFFFFF;
                font-size:   10px;
                font-family: Arial;
               }
        .Ueberschrift {
                color:       #FFFFFF;
                font-size:   22px;
                font-family: Arial;
                font-weight: bold;
               }
        .klein {
                color:       #FFFFFF;
                font-size:   11px;
                font-family: Arial;
               }
        .gross {
                color:       #FFFFFF;
                font-size:   16px;
                font-family: Arial;
                font-weight: bold;
               }<b></b>

-->
</style>