<!-- Platzhalter (Menue Link_Bild) -->

<style type="text/css">
<!--
.auswahl {
position:absolute;
width:160px;
border-style:none;
border-width:none;
clip:rect(0px 160px 20px auto);
}

body {margin: 0px; width:100%; height:100%; background: #999999; bgcolor: #999999;}

-->
</style>